###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
#
# CONTACT TEMPLATES
#
###############################################################################

# Generic contact definition template
# This is NOT a real contact, just a template!

define contact {

    name                            generic-contact
    service_notification_period     24x7
    host_notification_period        24x7
    service_notification_options    w,u,c,r,f,s
    host_notification_options       d,u,r,f,s
    service_notification_commands   notify-service-by-email
    host_notification_commands      notify-host-by-email
    register                        0
 }



###############################################################################
#
# CONTACTS
#
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the
# 'generic-contact' template which is defined elsewhere.

#define contact {

#    contact_name            nagiosadmin             ; Short name of user
#    use                     generic-contact         ; Inherit default values from generic-contact template (defined above)
#    alias                   Nagios Admin            ; Full name of user
#    email                   nagios@localhost ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
#}


define contact {

    contact_name            nagiosadmin             ; Short name of user
    use                     VictorOps_Contact       ; Inherit default values from generic-contact template defined in victoprs.cfg
    alias                   Nagios Admin            ; Full name of user
    email                   nagios@localhost ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
}


###############################################################################
#
# PUSHOVER
#
###############################################################################
define contact{
        name                            generic-pushover
        host_notifications_enabled      1
        service_notifications_enabled   1
        host_notification_period        24x7
        service_notification_period     24x7
        host_notification_options       d,u
        service_notification_options    c,u
        host_notification_commands      notify-host-pushover
        service_notification_commands   notify-service-pushover
        can_submit_commands             1
        retain_status_information       1
        retain_nonstatus_information    1
        register                        0
}


define contact{
        use                    generic-pushover
        contact_name           charles_pushover
        alias                  Charles Pushover
        address1               ukho5ng2wn5bt3t2wzqsj6uy51yffv
        address2               aqk4czb56xc8q3inft7w2mpqx5baqr
}

###############################################################################
#
# CONTACT GROUPS
#
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

# Use this contact group if you want to send via victorops
define contactgroup {

    contactgroup_name       admins
    alias                   Nagios Administrators
    members                 nagiosadmin
}


# Use this contact group if you want to send via pushover
define contactgroup {

    contactgroup_name       pushover
    alias                   Nagios Administrators2
    members                 charles_pushover
}



